In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv("datasets/in_time.csv") 
oot = pd.read_csv("datasets/out_of_time.csv")

In [3]:
train.describe()

,Customer_id,No_dependants,Time_in_address,Time_in_current_job,Credit_cards,Debit_cards,Active_accounts,Active_loans,Active_mortgages,Active_credit_card_lines,...,out_transactions_amt_H8,out_transactions_amt_H7,out_transactions_amt_H6,out_transactions_amt_H5,out_transactions_amt_H4,out_transactions_amt_H3,out_transactions_amt_H2,out_transactions_amt_H1,out_transactions_amt_H0,Target
count,3.100000e+05,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000,...,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000,310000.000000
mean,3.499523e+07,1.159529,8.472011,4.733869,0.246939,1.520745,1.220213,1.040158,-8200.258065,-8808.576742,...,4875.162629,4873.649860,4875.012980,4874.377914,4872.908508,4874.697344,4873.802552,4874.401424,4874.218386,0.068506
std,2.886171e+06,0.959115,8.490954,5.152743,0.457813,0.728501,0.460074,0.196330,3840.832513,3238.394342,...,1628.568628,1627.367891,1627.495556,1629.180310,1625.356039,1627.949687,1627.401824,1628.402842,1627.676323,0.252613
min,3.000002e+07,0.000000,0.020000,0.030000,0.000000,1.000000,1.000000,1.000000,-9999.000000,-9999.000000,...,3112.430000,3108.890000,3108.690000,3110.620000,3104.110000,3113.580000,3104.130000,3100.980000,3102.910000,0.000000
25%,3.249342e+07,0.000000,2.690000,1.310000,0.000000,1.000000,1.000000,1.000000,-9999.000000,-9999.000000,...,3820.850000,3820.600000,3822.347500,3820.677500,3820.117500,3822.267500,3821.247500,3820.895000,3821.200000,0.000000
50%,3.499199e+07,1.000000,5.540000,2.970000,0.000000,1.000000,1.000000,1.000000,-9999.000000,-9999.000000,...,4351.500000,4348.850000,4350.695000,4349.075000,4350.165000,4350.735000,4348.365000,4348.950000,4349.800000,0.000000
75%,3.749224e+07,2.000000,11.160000,6.230000,0.000000,2.000000,1.000000,1.000000,-9999.000000,-9999.000000,...,5298.022500,5297.187500,5300.130000,5294.427500,5299.130000,5294.782500,5300.202500,5298.062500,5298.127500,0.000000
max,3.999994e+07,4.000000,67.970000,49.410000,2.000000,4.000000,3.000000,2.000000,1.000000,2.000000,...,20353.100000,22575.640000,19739.770000,22748.870000,20216.120000,19710.560000,20713.020000,19914.480000,20969.010000,1.000000