In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [2]:
from PythonAPI import *

In [3]:
check_connection()

'OK'

In [4]:
user = "team13"
password = "tS2KbTei]b84"

In [5]:
check_status(user, password)

'Accuracy=0.8588032258064516, precision=0.25949880464480873, recall=0.5724443188774309, AUC=0.7870225345957101'

In [18]:
df = pd.read_csv("variable.csv", index_col=0)
y = df["Target"]

df2 = pd.read_csv("variable_oot.csv", index_col=0)
y2 = df2["Target"]

In [19]:
df

,DPD_term_loan_H2,Default_flag_H1,Default_flag_H2,DPD_term_loan_H3,Default_flag_H3,Default_flag_H4,DPD_term_loan_H6,Default_flag_H5,DPD_term_loan_H4,Target
Customer_id,,,,,,,,,,
33344475,0,0,0,0,0,0,23,0,0,0
38290809,0,0,0,0,0,0,27,1,0,0
33178125,10,0,0,0,0,0,0,0,0,0
37129367,29,0,0,29,0,0,0,0,29,0
31904710,0,0,0,0,0,0,0,0,16,0
...,...,...,...,...,...,...,...,...,...,...
31104928,0,0,0,0,0,0,0,0,0,0
38699158,0,0,0,9,0,0,22,0,0,0
37435274,0,0,0,0,0,0,0,0,0,0
36145194,0,0,0,0,0,0,0,0,0,0
37156247,0,0,0,29,0,0,11,0,0,0

In [ ]:
#from data_preparation.data_preparation import transform_data

#train2 = transform_data(train)
#print(train["Target"])

In [ ]:
#x, y = train2

In [ ]:
#train2 = pd.concat([x,y], axis=1)

In [35]:
scaler = MinMaxScaler().set_output(transform="pandas")
scaled_data = scaler.fit_transform(df.drop(columns=['Target']))
scaled_data = pd.DataFrame(scaled_data)
data = pd.concat([scaled_data,y], axis=1)
csv_file_path = "/Users/karol/Desktop/aaa.csv"
data.to_csv(csv_file_path, index=False)


scaled_data2 = scaler.transform(df2.drop(columns=['Target']))
scaled_data2 = pd.DataFrame(scaled_data2)
data2 = pd.concat([scaled_data2,y2], axis=1)
csv_file_path2 = "/Users/karol/Desktop/aaa2.csv"
data.to_csv(csv_file_path2, index=False)

In [37]:
data["Target"]

Customer_id
33344475    0
38290809    0
33178125    0
37129367    0
31904710    0
           ..
31104928    0
38699158    0
37435274    0
36145194    0
37156247    0
Name: Target, Length: 310000, dtype: int64

In [22]:
load_data(user, password, "xyz.csv",
         ["0","1","2","3","4","5","6","7","8"],
         "Target")

check_status(user, password)

'Start of loading data.'

In [14]:
data

,0,1,2,3,4,5,6,7,8,9,Target
0,0.334448,0.000000,0.0,0.0,0.000000,0.0,0.0,0.130682,0.0,0.000000,0
1,0.829086,0.000000,0.0,0.0,0.000000,0.0,0.0,0.153409,1.0,0.000000,0
2,0.317813,0.049020,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0
3,0.712940,0.142157,0.0,0.0,0.147959,0.0,0.0,0.000000,0.0,0.154255,0
4,0.190470,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.085106,0
...,...,...,...,...,...,...,...,...,...,...,...
309995,0.110492,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0
309996,0.869921,0.000000,0.0,0.0,0.045918,0.0,0.0,0.125000,0.0,0.000000,0
309997,0.743531,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0
309998,0.614522,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0
309999,0.715628,0.000000,0.0,0.0,0.147959,0.0,0.0,0.062500,0.0,0.000000,0

In [ ]:
train(user, password, 150, 64, 0.05, "Eva", "SU2U4")

check_status(user, password)

In [ ]:
params = get_parameters(user, password)

In [ ]:
train(user, password, 150, 64, 0.05, "Adam", "SU2U4", params=params,
      beta=0.1, beta2=0.1)

In [30]:
check_status(user, password)

'Start of loading data.'

In [27]:
params = get_parameters(user, password)

In [ ]:
validate(user, password, "xyz2.csv",
         ["0","1","2","3","4","5","6","7","8"],
         "Target", "SU2U4", params)

In [31]:
check_status(user, password)

'ERROR: Unable to find y-variable Target in file xyz.csv.'